* {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
@mixin cube ($size) {
    width: $size;
    height: $size;
}
@mixin matrix ($w,$h) {
    width: $w;
    height: $h;
}
@mixin gai {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}
@mixin zuoyou {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin shangxia {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
